
body{
  margin: 0;
  padding: 0;
  background-color: #efefef;
}

#root{
  width: 100vw;
  height: 100vh;
}

#main{
  width: 100vw;
  position: absolute;
  top: 150px;
  padding-bottom: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#loader{
  height: 64px;
  width: 64px;
  position: absolute;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
  animation: load 1000ms infinite;
  -moz-animation: load 1000ms infinite;
  -webkit-animation: load 1000ms infinite;
  -o-animation: load 1000ms infinite;
}

#loaderImg{
  fill: #ff6600;
  height: 64px;
  width: 64px;
}

#title{
  position: absolute;
  top: 65px;
  width: 100vw;
  color:#404040;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
}

.make{
  background-color: white;
  padding: 15px;
  width: 500px;
  height: 100px;
  margin: 15px;
  border-radius: 5px;

}

.error{
  background-color: #ff6666;
  color: white;
  width: 100vw;
  height: 0px;
  line-height: 40px;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;

  animation: error 300ms 1;
  -moz-animation: error 300ms 1;
  -webkit-animation: error 300ms 1;
  -o-animation: error 300ms 1;

  transition: transform 300ms ease-out;
  -moz-transition: transform 300ms ease-out;
  -webkit-transition: transform 300ms ease-out;
  -o-transition: transform 300ms ease-out;

  animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

.drop-shadow{
  -webkit-box-shadow: 0px 0px 30px 1px rgba(112,112,112,0.38);
  -moz-box-shadow: 0px 0px 30px 1px rgba(112,112,112,0.38);
  box-shadow: 0px 0px 30px 1px rgba(112,112,112,0.38);
}

.hide{
  transform: translateY(-50px);
}

.close-button{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;

}

@-webkit-keyframes load {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes load {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}
@-o-keyframes load {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(360deg);}
}
@keyframes load {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@-webkit-keyframes error {
  from {height : 0px;}
  to {height: 40px;}
}
@-moz-keyframes error {
  from {height : 0px;}
  to {height: 40px;}
}
@-o-keyframes error {
  from {height : 0px;}
  to {height: 40px;}
}
@keyframes error {
  from {height : 0px;}
  to {height: 40px;}
}

@-webkit-keyframes expanding {
  from {height : 0px;}
  to {height: 80px;}
}
@-moz-keyframes expanding {
  from {height : 0px;}
  to {height: 80px;}
}
@-o-keyframes expanding {
  from {height : 0px;}
  to {height: 80px;}
}
@keyframes expanding {
  from {height : 0px;}
  to {height: 80px;}
}